body{
   background-color: lightcyan;
}

.numbersTombola {
   background-color: yellow;
}

#tombolaNumbers div {
   display: inline-block;
   padding: 1em;
   font-size: 2em;
}

h1{
   font-size: 3.5em;
   text-align: center;
   font-weight: bold;
   padding: 1em;
}

button {
   padding: 1em;
   font-size: 1.5em;
   border: 1px solid red;
   cursor: pointer;
   color: white;
   background-color: seagreen;
   border-radius: 1em;
}
form div {
   text-align: center;
   padding: 1em 1em 2em;
}